<div class="modal-overlay">
  <div class="modal-container">
    <button (click)="close()" class="close-button">&#10006;</button>
    <header class="ms-3">
      <h2 *ngIf="!editStatus">Add post </h2>
      <h2 *ngIf="editStatus" >Edit post </h2>
    </header>
    <hr />
    <form>
      <div class="inputs">
        <div class="form-group">
          <label for="title">Title:</label>
          <input [(ngModel)]="title" type="text" id="title" name="title" required />
        </div>

        <div class="form-group">
          <label for="text">Text:</label>
          <textarea [(ngModel)]="postText" class="w-100" name="text" id="text" rows="3"></textarea>
        </div>
      </div>
      <hr />

      <div class="button-container pe-3 ">
        <button (click)="close()" type="button" class="btn btn-secondary mx-2">Close</button>
        <button (click)="post()" *ngIf="!editStatus"type="button" class="btn btn-success">Post</button>
        <button (click)="editPost()"  *ngIf="editStatus" type="button" class="btn btn-success">Edit post</button>
      </div>
    </form>
  </div>
</div>
