<div
  *ngFor="let blog of blogs; index as i"
  class="container d-flex flex-column align-items-center"
>
  <div class="one-block m-1 p-3">
    <h5 class="post-title lh-1"> {{ blog.topic }}</h5>
    <div class="row text-muted mb-3">
      <div class="col-10">Posted by: {{ blog.postedBy }}</div>
      <div class="col-2">
        <img
          class="mb-1 me-2"
          src="../../../assets/icons/clock.png"
          alt="icon"
          width="10%"
        />
        <span> 
          {{ blog.date | myDate }}
        </span>
      </div>
    </div>
    <p class="post-text lh-1"> {{ blog.message }} </p>
    <div class="buttons-block text-end">
      <button (click)="editPost(i)" type="button" class="btn btn-warning me-2">Edit</button>
      <button (click)="delPost(i)" type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
